*{
    margin: 0;
    padding: 0;
    
}

.fontStyle {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 50px;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


.navStyle{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(35, 70, 78);
    width: 100%;
    position: fixed;
    top: 0px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    }

.home {
    display: flex;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    background-color: rgb(35, 70, 78);
}

.list {
    display: flex;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    background-color: rgb(35, 70, 78);
}

.list:hover {
    background-color: rgb(3, 134, 95);
}

li {
    text-decoration: none;
}

.cartStyle{
    display: flex;
    text-align: end;
    font-size: 30px;
    color: white;
    overflow: hidden;    
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;



}


/* CLASES PARA ItemListContainer e ItemCount */

.titles {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    margin-top:90px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 25px;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.cartButtons {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 17px;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.incDecButtons {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;    
    margin-top: 40px;
    font-size: 17px;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.product {
    height: 25em;
    width: 25em;
   
}

